<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'core/css/log.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="{% static 'core/img/naturalgas.png' %}" alt="Imagen de ususario">
        <h1>Login</h1>
        <form>
            <!--Nombre de usuario-->
            <label for="username">Nombre de usuario</label>
            <input type="text" placeholder="Ingresa usuario">
            <!--Contraseña-->
            <label for ="password">Contraseña</label>
            <input type="password" placeholder="Ingresa contraseña">
            <input type="submit" value="Iniciar Sesión" href="{% url 'visitas' %}">
            <a class="nav-link" href="{% url 'visitas' %}">Inicia sesión</a>
            <a href="#">¿Olvidaste tu contraseña?</a><br>
            <a href="#">¿No tienes cuenta?</a>
        </form>
    </div>
    
</body>
</html>